<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ProductMapper">
    
    <resultMap type="Product" id="ProductResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
        <result property="price"    column="price"    />
        <result property="stockQuantity"    column="stock_quantity"    />
        <result property="categoryId"    column="category_id"    />
        <result property="productCode"    column="product_code"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="stockWarningThreshold"    column="stock_warning_threshold"    />
        <result property="status"    column="status"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
    </resultMap>

    <sql id="selectProductVo">
        select id, name, description, price, stock_quantity, category_id, product_code, image_url, stock_warning_threshold, status, created_at, updated_at from product
    </sql>

    <select id="selectProductList" parameterType="Product" resultMap="ProductResult">
        <include refid="selectProductVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="stockQuantity != null "> and stock_quantity = #{stockQuantity}</if>
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
            <if test="productCode != null  and productCode != ''"> and product_code = #{productCode}</if>
            <if test="imageUrl != null  and imageUrl != ''"> and image_url = #{imageUrl}</if>
            <if test="stockWarningThreshold != null "> and stock_warning_threshold = #{stockWarningThreshold}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
            <if test="updatedAt != null "> and updated_at = #{updatedAt}</if>
        </where>
    </select>
    
    <select id="selectProductById" parameterType="Long" resultMap="ProductResult">
        <include refid="selectProductVo"/>
        where id = #{id}
    </select>

    <insert id="insertProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="id">
        insert into product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="description != null">description,</if>
            <if test="price != null">price,</if>
            <if test="stockQuantity != null">stock_quantity,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="productCode != null and productCode != ''">product_code,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="stockWarningThreshold != null">stock_warning_threshold,</if>
            <if test="status != null">status,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="price != null">#{price},</if>
            <if test="stockQuantity != null">#{stockQuantity},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="productCode != null and productCode != ''">#{productCode},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="stockWarningThreshold != null">#{stockWarningThreshold},</if>
            <if test="status != null">#{status},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>

    <update id="updateProduct" parameterType="Product">
        update product
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="price != null">price = #{price},</if>
            <if test="stockQuantity != null">stock_quantity = #{stockQuantity},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="productCode != null and productCode != ''">product_code = #{productCode},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="stockWarningThreshold != null">stock_warning_threshold = #{stockWarningThreshold},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProductById" parameterType="Long">
        delete from product where id = #{id}
    </delete>

    <delete id="deleteProductByIds" parameterType="String">
        delete from product where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>